# Elixir/Phoenix default ignored files
/_build
/cover
/deps

# Generated on crash by the Erlang VM
erl_crash.dump
*.ez

# Atom's RemoteSync plugin config file
.remote-sync.json

# See docker-compose.*.example.yml to create your own docker-compose.yml
docker-compose.yml

# Webapp
apps/webapp/priv/static/*

# ui
ui/node_modules

# Environment vars
.env
