@import '~material-design-lite/src/layout/layout';
@import '~material-design-lite/src/card/card';
@import '~material-design-lite/src/button/button';
@import '~material-design-lite/src/shadow/shadow';
@import '~material-design-lite/src/typography/typography';
@import '~material-design-lite/src/palette/palette';

.login-layout {
  @extend .mdl-color--grey-100;
  align-items: center;
  justify-content: center;
}

.login-content{
  @extend .mdl-layout__content;
  padding: 24px;
  flex: none;
}

.card {
  @extend .mdl-card;
  @extend .mdl-shadow--6dp;
  color: blue;
}

.card-title {
  @extend .mdl-card__title;
  @extend .mdl-color--primary;
  @extend .mdl-color-text--white;
  color: yellow;
}

.login-error {
  @extend .mdl-typography--caption-color-contrast;
  color: red;
  text-align: center;
  font-size: 14px;
}

.login-button {
  @extend .mdl-button;
  @extend .mdl-button--colored;
}

.loading {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;

  div {
    align-self: center;
  }
}
