.mdl-menu-width {
    width: 350px;
}

.mdl-menu__title {
    composes: mdl-card__title mdl-color--primary mdl-color-text--white from "material-design-lite/material.css";
}

.mdl-menu__title-text {
    composes: mdl-card__title-text from "material-design-lite/material.css";
}

h2.mdl-menu__title-text {
    border-bottom: 0;
}

.mdl-menu__supporting-text {
    composes: mdl-card__supporting-text from "material-design-lite/material.css";
    padding-top: 0;
}

.doc-page a {
    color: #4183C4;
    text-decoration: none;
}

.doc-page a.absent {
    color: #cc0000;
}

.doc-page a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.doc-page a:hover {
    text-decoration: underline;
}

.doc-page h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

.doc-page h1 tt, .doc-page h1 code {
    font-size: inherit;
}

.doc-page h2 tt, .doc-page h2 code {
    font-size: inherit;
}

.doc-page h3 tt, .doc-page h3 code {
    font-size: inherit;
}

.doc-page h4 tt, .doc-page h4 code {
    font-size: inherit;
}

.doc-page h5 tt, .doc-page h5 code {
    font-size: inherit;
}

.doc-page h6 tt, .doc-page h6 code {
    font-size: inherit;
}

.doc-page h1 {
    font-size: 34px;
    border-bottom: 1px solid #DDDDDD;
    color: black;
}

.doc-page h2 {
    font-size: 24px;
    border-bottom: 1px solid #DDDDDD;
    color: black;
}

.doc-page h3 {
    font-size: 18px;
}

.doc-page h4 {
    font-size: 16px;
}

.doc-page h5 {
    font-size: 14px;
}

.doc-page h6 {
    color: #777777;
    font-size: 14px;
}

.doc-page p, .doc-page blockquote, .doc-page ul, .doc-page ol, .doc-page dl, .doc-page li, .doc-page table, .doc-page pre {
    margin: 15px 0;
}

.doc-page hr {
    border: 0 none;
    color: #DDDDDD;
    height: 4px;
    padding: 0;
}

body>.doc-page h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body>.doc-page h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body>.doc-page h1:first-child+h2 {
    margin-top: 0;
    padding-top: 0;
}

body>.doc-page h3:first-child, body>.doc-page h4:first-child, body>.doc-page h5:first-child, body>.doc-page h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

.doc-page a:first-child h1, .doc-page a:first-child h2, .doc-page a:first-child h3, .doc-page a:first-child h4, .doc-page a:first-child h5, .doc-page a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

.doc-page h1 p, .doc-page h2 p, .doc-page h3 p, .doc-page h4 p, .doc-page h5 p, .doc-page h6 p {
    margin-top: 0;
}

.doc-page li p.first {
    display: inline-block;
}

.doc-page ul, .doc-page ol {
    padding-left: 30px;
}

.doc-page ul :first-child, .doc-page ol :first-child {
    margin-top: 0;
}

.doc-page ul :last-child, .doc-page ol :last-child {
    margin-bottom: 0;
}

.doc-page dl {
    padding: 0;
}

.doc-page dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

.doc-page dl dt:first-child {
    padding: 0;
}

.doc-page dl dt> :first-child {
    margin-top: 0;
}

.doc-page dl dt> :last-child {
    margin-bottom: 0;
}

.doc-page dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

.doc-page dl dd> :first-child {
    margin-top: 0;
}

.doc-page dl dd> :last-child {
    margin-bottom: 0;
}

.doc-page blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

.doc-page blockquote> :first-child {
    margin-top: 0;
}

.doc-page blockquote> :last-child {
    margin-bottom: 0;
}

.doc-page blockquote::before, .doc-page blockquote::after{
    display: none;
}

.doc-page table {
    padding: 0;
}

.doc-page table tr {
    border-top: 1px solid #DDDDDD;
    background-color: white;
    margin: 0;
    padding: 0;
}

.doc-page table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.doc-page table tr th {
    font-weight: bold;
    border: 1px solid #DDDDDD;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.doc-page table tr td {
    border: 1px solid #DDDDDD;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.doc-page table tr th :first-child, .doc-page table tr td :first-child {
    margin-top: 0;
}

.doc-page table tr th :last-child, .doc-page table tr td :last-child {
    margin-bottom: 0;
}

.doc-page img {
    max-width: 100%;
}

.doc-page span.frame {
    display: block;
    overflow: hidden;
}

.doc-page span.frame>span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

.doc-page span.frame span img {
    display: block;
    float: left;
}

.doc-page span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}

.doc-page span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.doc-page span.align-center>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

.doc-page span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.doc-page span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.doc-page span.align-right>span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

.doc-page span.align-right span img {
    margin: 0;
    text-align: right;
}

.doc-page span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

.doc-page span.float-left span {
    margin: 13px 0 0;
}

.doc-page span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

.doc-page span.float-right>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

.doc-page code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.doc-page pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.doc-page pre {
    background-color: #f8f8f8;
    border: 1px solid #DDDDDD;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.doc-page pre code, .doc-page pre tt {
    background-color: transparent;
    border: none;
}
